@if (!string.IsNullOrEmpty(Href))
{
    <a href="@Href"
       class="btn btn-@Variant.ToString().ToLower() @CssClass"
       target="@Target"
       style="@BorderRadiusStyle"
       @onclick="OnClick">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <i class="@Icon"></i>
        }
        @ChildContent
    </a>
}
else
{
    <button type="@Type"
            class="btn btn-@Variant.ToString().ToLower() @CssClass"
            @onclick="OnClick"
            style="@BorderRadiusStyle"
            disabled="@Disabled">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <i class="@Icon"></i>
        }
        @ChildContent
    </button>
}


