@switch (VariantClass)
{
    case "text-highlight":
        <p class="text-content text-highlight @AlignmentClass @DisplayClass @PaddingClass @MarginClass @CssClass" style="@Style">
            @ChildContent
        </p>
        break;
    case "text-muted":
        <p class="text-content text-muted @AlignmentClass @DisplayClass @PaddingClass @MarginClass @CssClass" style="@Style">
            @ChildContent
        </p>
        break;
    case "text-bold":
        <strong class="text-content text-bold @AlignmentClass @DisplayClass @PaddingClass @MarginClass @CssClass" style="@Style">
            @ChildContent
        </strong>
        break;
    case "text-italic":
        <i class="text-content text-italic @AlignmentClass @DisplayClass @PaddingClass @MarginClass @CssClass" style="@Style">
            @ChildContent
        </i>
        break;
    default:
        <p class="text-content @VariantClass @AlignmentClass @DisplayClass @PaddingClass @MarginClass @CssClass" style="@Style">
            @ChildContent
        </p>
        break;
}
