@page "/"

<PageTitle>Home</PageTitle>

<BaseSection>
<h1>Hello, world!</h1>

Welcome to your new app.
</BaseSection>
<BaseSection>
<BaseCard Variant="CardVariant.Hero">
    <HeaderContent>
        <Titel Level="2">
            Test 1234
        </Titel>
        <Emoji EmojiChar="@Emojis.Tent" Shadow="true" Level="5"/>
    </HeaderContent>
    <ChildContent>
    <TextContent>
        Dies ist ein Test
    </TextContent>
    </ChildContent>
    <FooterContent>
        <Button BorderRadius="5" Variant="ButtonVariant.Success">
                Klicken Sie mich
        </Button>
    </FooterContent>
</BaseCard>
</BaseSection>

<BaseSection>
    <BaseGrid Preset="GridPreset.Medium">
        <BaseCard Variant="CardVariant.Detail" HeaderLayout="HeaderLayout.Center">
            <HeaderContent>
                <Emoji EmojiChar="@Emojis.Sparkles" Level="3" />
                <Titel Level="3"> Vielfältige Events</Titel>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Von entspannten Parkwalks über spektakuläre Messebesuche bis hin zu unserem legendären ElbeFurDance
                </TextContent>
            </ChildContent>
        </BaseCard>
        <BaseCard Variant="CardVariant.Detail" HeaderLayout="HeaderLayout.Center">
            <HeaderContent>
                <Emoji EmojiChar="@Emojis.Handshake" Level="3" />
                <Titel Level="3">Starke Gemeinschaft</Titel>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Bei uns ist jeder willkommen, egal ob erfahrener Fursuiter oder neugieriger Neuling
                </TextContent>
            </ChildContent>
        </BaseCard>
        <BaseCard Variant="CardVariant.Detail" HeaderLayout="HeaderLayout.Center">
            <HeaderContent>
                <Emoji EmojiChar="@Emojis.GreenHeart" Style="font-size: 3rem;" />
                <Titel Level="3" Align="TextAlign.Center">Soziales Engagement</Titel>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Wir setzen uns für wohltätige Zwecke ein und unterstützen lokale Projekte
                </TextContent>
            </ChildContent>
        </BaseCard>
        <BaseCard Variant="CardVariant.Detail" HeaderLayout="HeaderLayout.Center">
            <HeaderContent>
                <Emoji EmojiChar="@Emojis.Rainbow" Style="font-size: 3rem;" />
                <Titel Level="3">Toleranz & Vielfalt</Titel>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Wir stehen für eine offene, bunte Community und setzen klare Zeichen gegen Diskriminierung
                </TextContent>
            </ChildContent>
        </BaseCard>
    </BaseGrid>
</BaseSection>

<BaseSection>
    <BaseCard>
        <HeaderContent>
            <Titel Level="2">
                <Emoji EmojiChar="@Emojis.Handshake" /> Miteinander umgehen
            </Titel>
        </HeaderContent>
        <ChildContent>
            <BaseCard Variant="CardVariant.RulesSub">
                <HeaderContent>
                    <Titel Level="3">
                        Respektvoller Umgang
                    </Titel>
                </HeaderContent>
                <ChildContent>
                    <TextContent>
                        Behandelt einander mit Freundlichkeit und Respekt. Beleidigungen, Mobbing, Diskriminierung oder Hassrede haben bei uns keinen Platz.
                    </TextContent>
                    <TextContent>
                        <strong>
                            Nicht toleriert werden:
                        </strong>
                        <ul>
                            <li>
                                Beleidigende, herabwürdigende oder diskriminierende Äußerungen
                            </li>
                            <li>
                                Rassismus, Sexismus, Homo-/Transphobie, Ableismus
                            </li>
                            <li>
                                Hassrede gegen Personen, Gruppen, Religionen oder Nationen
                            </li>
                            <li>
                                Persönliche Angriffe oder Bloßstellung
                            </li>
                            <li>
                                Drohungen oder Androhung von Gewalt
                            </li>
                        </ul>
                    </TextContent>
                </ChildContent>
            </BaseCard>
            <BaseCard Variant="CardVariant.RulesSub">
                <HeaderContent>
                    <Titel Level="3">
                        Konfliktlösung
                    </Titel>
                </HeaderContent>
                <ChildContent>
                    <TextContent>
                        Private Streitigkeiten gehören nicht in die Gruppe. Klärt diese bitte unter vier Augen oder wendet euch an unser Admin-Team für Vermittlung.
                    </TextContent>
                </ChildContent>
            </BaseCard>
            <BaseCard Variant="CardVariant.RulesSub">
                <HeaderContent>
                    <Titel Level="3">
                        Keine Belästigung
                    </Titel>
                </HeaderContent>
                <ChildContent>
                    <TextContent>
                        Belästigung in jeglicher Form wird nicht toleriert. Dazu zählen:
                        <ul>
                            <li>
                                Unerwünschte wiederholte Direktnachrichten
                            </li>
                            <li>
                                Stalking oder Doxxing (Veröffentlichung privater Informationen)
                            </li>
                            <li>
                                Sexuelle Belästigung
                            </li>
                        </ul>
                    </TextContent>
                </ChildContent>
            </BaseCard>
        </ChildContent>
    </BaseCard>
</BaseSection>

<BaseSection>
    <Titel Level="2"><Emoji EmojiChar="@Emojis.Calendar" /> Kommende Events – Sei dabei!</Titel>
    <BaseGrid Preset="GridPreset.Single">
        <!-- Event Card 4 -->
        <BaseCard Variant="CardVariant.Event" HeaderLayout="HeaderLayout.SpaceBetween" HeaderAlign="VerticalAlign.Center">
            <HeaderContent>
                <Titel Level="3">
                    <Emoji Style="font-size: 2.5rem;" EmojiChar="@Emojis.FilmClap" />
                    Zoomania 2 Kino-Event
                </Titel>
                <EventDate>29. November 2025</EventDate>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Gemeinsamer Kinobesuch im Cinestar am Pfahlberg Magdeburg – Fursuits sind herzlich willkommen!
                    Freut euch auf einen flauschigen Filmnachmittag mit der Community.
                </TextContent>
                <BaseCard Variant="CardVariant.Sub">
                    <p>
                        <Emoji EmojiChar="@Emojis.Pin" /> <strong>Ort:</strong> Cinestar Pfahlberg, Magdeburg
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.FilmClap" /> <strong>Film:</strong> Zoomania 2
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.Clock4" /> <strong>Zeit:</strong> Treffen ca. 16:00 Uhr auf dem Parkplatz
                    </p>
                </BaseCard>
            </ChildContent>
            <FooterContent>
                <Button Variant="ButtonVariant.Primary" Href="https://uifkc70z.forms.app/untitled-form-1">
                    Hier Anmelden →
                </Button>
            </FooterContent>
        </BaseCard>

        <!-- Event Card 5 -->
        <BaseCard Variant="CardVariant.Event" HeaderLayout="HeaderLayout.SpaceBetween" HeaderAlign="VerticalAlign.Center">
            <HeaderContent>
                <Titel Level="3">
                    <Emoji EmojiChar="@Emojis.PineTree" Style="font-size: 2.5rem" />
                    Weihnachts-Walk & Stammtisch
                </Titel>
                <EventDate>13. Dezember 2025</EventDate>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Gemeinsam gleiten wir über’s Eis, schlendern durch funkelnde Gassen und lassen den Abend warm und
                    gemütlich ausklingen – ein vorweihnachtliches Erlebnis für alle Furs & Friends.
                </TextContent>
                <BaseCard Variant="CardVariant.Sub">
                    <p>
                        <Emoji EmojiChar="@Emojis.Pin" /> <strong>Ort:</strong> Magdeburg
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.SantaClaus" /> <strong>Special:</strong> Winterliche Atmosphäre garantiert!
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.Clock3" /> <strong>Zeit:</strong> Treffen um 14:30 Uhr am Alle-Center (Brunnen)
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.HotBeverage" /> <strong>Stammtisch:</strong> 17:30 Uhr in der Kimbo-Burg
                    </p>
                </BaseCard>
            </ChildContent>
            <FooterContent>
                <Button Variant="ButtonVariant.Primary" Href="https://uifkc70z.forms.app/my-new-form">
                    Hier Anmelden →
                </Button>
            </FooterContent>
        </BaseCard>

        <BaseCard Variant="CardVariant.Event" HeaderLayout="HeaderLayout.SpaceBetween" HeaderAlign="VerticalAlign.Center">
            <HeaderContent>
                <Titel Level="2">
                    <Emoji Style="font-size: 2.5rem;" EmojiChar="@Emojis.PineTree" />
                    Bäume pflanzen für den guten Zweck
                </Titel>
                    <EventDate>7. März 2026</EventDate>
            </HeaderContent>
            <ChildContent>
                <TextContent>
                    Die 365€, die wir beim ElbeFurDance 4 für das Waldfuchs-Projekt gesammelt haben, werden in Baumsetzlinge umgewandelt.
                    Gemeinsam pflanzen wir sie Ende November in Wernigerode. Sei dabei und setze ein grünes Zeichen!
                </TextContent>
                <BaseCard Variant="CardVariant.Sub">
                    <p>
                        <Emoji EmojiChar="@Emojis.Pin" /> <strong>Ort:</strong> Wernigerode
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.Tree" /> <strong>Partner:</strong> Schutzgemeinschaft deutscher Wald
                    </p>
                    <p>
                        <Emoji EmojiChar="@Emojis.Clock9" /> <strong>Zeit:</strong> Treffen um 9:30 Uhr am Parkplatz
                    </p>
                </BaseCard>
            </ChildContent>
            <FooterContent>
                <Button Href="#" Variant="ButtonVariant.Secondary">
                    Infos Folgen →
                </Button>
            </FooterContent>
        </BaseCard>
    </BaseGrid>
</BaseSection>